
<div id="background" ng-class="{paintPen:mode=='paint'}" ng-style="{'width':bgWidth+'px','height':bgHeight+'px'}" ng-click="clickAction2($event)">
  <div ng-if="mode!='manifesto'">
    <div ng-repeat="coordObj in coordList track by coordObj.id"  
	 class="paintsquare" 
	 id={{::coordObj.id}}
	 ng-style="{'background':coordObj.scopeRef.color}"
	 once-style="{'top':coordObj.top,'left':coordObj.left,'width':fgWidth+'px','height':fgHeight+'px'}">
	 
    </div>
  </div>

  <div ng-if="mode=='manifesto'">
    <div ng-repeat="coordObj in coordList track by coordObj.id"  
	 class="lettersquare" 
	 id={{::coordObj.id}}       
	 once-style="{'top':coordObj.top,'left':coordObj.left,'width':fgWidth+'px','height':fgHeight+'px'}">
	 {{::coordObj.letter}}
    </div>
  </div>


<a id="manifestoButton" ng-click="manifestoToggle()">(manifesto)</a>
<button colorpicker class="btn" id="paintButton" ng-style="{'color':paintColor}" type="button" ng-model="paintColor" ng-click="togglePaintMode()">(paint)</button>
</div>

<!--
	 id={{::coordObj.id}}  
coordObj.id.toString()

-->
