/* app css stylesheet */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#background {
    padding: 0px;
    margin: 0px;
    background-image: url(crumblefall.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    position: relative;
    overflow: hidden;
}

.paintsquare {
    position: absolute;
    color: black;
    z-index: 3000;
}

#paintButton {
    background-color: white;
    font-weight: 600;
}

@media only screen
and (max-width : 520px) {
    #manifestoButton {
	font-size: 1em;
    }
    .lettersquare {
	font-size: .4em;
    }
    #paintButton {
	font-size: 6px;
    }
}
@media only screen
and (min-width : 520px) {
    #manifestoButton {
	font-size: 2.4em;
    }
    .lettersquare {
	font-size: 1.8em;
    }
    #paintButton {
	font-size: 16px;
    }

}

.lettersquare {
    position: absolute;
    color: white;
    z-index: 3000;
    font-weight:900;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7), 1px 1px 1px #000;
}

#manifestoButton {
    color: white;
    position: absolute;
    top: 62%;
    left: 39.5%;
    z-index: 4000;
    cursor: pointer;
}

#manifestoButton:hover {
     background-color: purple;
     cursor: pointer;
}

#paintButton {
    position: absolute;
    top: 90%;
    left: 20%;
    z-index: 4000;
    cursor: pointer;
}

.paintPen {
    cursor: crosshair;
}
